.rounded-circle {
 width: 35px;
margin-left: 20px;
border-radius: 50% !important;
vertical-align: middle;
border-style: none;
box-sizing: border-box;
display: inline;
float: none;
line-height: 21px;
position: static;
z-index: auto;
}
