<!DOCTYPE html>
<html>

  <head>
    <title>TheViews</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>

  <body>
        <div class="wrapper-white ">
  <div class="container">
    <div class="navbar-kitt">
      <a class="logo" href="/">

</a>      <nav>


              <a class="" href="#">Join!</a>

            <a class="active" href="#">Log In</a>


          <div class="dropdown batch-dropdown avatar-dropdown">
            <a class="avatar-link" data-toggle="dropdown" href="#">
              <img alt="" class="rounded-circle" src="https://avatars3.githubusercontent.com/u/41290584?v=4" />
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
  <li>
    <a href="#">
      <i class="fas fa-user"></i> My profile
</a>  </li>
  <li>
    <a rel="nofollow" data-method="delete" href="/users/sign_out">
      <i class="fas fa-sign-out-alt"></i>
      <span>Sign out</span>
</a>  </li>
</ul>

          </div>
      </nav>
    </div>
  </div>
</div>


<div class="wrapper-black">
  <div class="container">
    <nav class="section-nav">
      <div class="left-nav">
        <a class="active" href="#">
          <div class="d-none d-sm-block">Lectures</div>
          <div class="d-sm-none">
            <i class="mdi mdi-presentation-play"></i>
              Lectures
          </div>
</a>        <a class="" href="#">
          <div class="d-none d-sm-block">Tutorials</div>
          <div class="d-sm-none">
            <i class="mdi mdi-file-document-box"></i>
          </div>
</a>        <a class="" href="#">
          <div class="d-none d-sm-block">Cheatsheets</div>
          <div class="d-sm-none">
            <i class="mdi mdi-format-list-bulleted"></i>
          </div>
</a>        <a class="" href="#">
          <div class="d-none d-sm-block">Resources</div>
          <div class="d-sm-none">
            <i class="mdi mdi-link-variant"></i>
          </div>
</a>      </div>
      <div class="right-nav">

      </div>
    </nav>
  </div>
</div>

    <%= yield %>
  </body>
</html>
